@use '@carbon/react';

@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.cds--content {
  margin-top: 3rem;
  background: var(--cds-background);
}

.container{
  width: 100%;
  height: 100%;
  margin-top: 25px;
  justify-content: center;

}

.taskList{
  width: 80%;
  height: 70%;
  margin: auto;
}

.cds--text-input__field-wrapper{
  position: relative;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cds--text-input{
  height: 100%;
}

div.ul{
  margin-top: 20px;
}


.checkbox{
  position: relative;
}