@use '@carbon/react';

@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.cds--content {
  margin-top: 3rem;
  background: var(--cds-background);
}

.container{
  width: 100%;
  height: 100%;
  margin-top: 25px;
  justify-content: center;

}

.taskList{
  width: 80%;
  height: 70%;
  margin: auto;
}

// .taskListItem {
//     display: flex;
//     align-items: center; /* Vertical center alignment */
//     justify-content: space-between; /* Adjust as needed */
//     padding: 8px; /* Optional: Add padding for better spacing */
// }

.checkbox {
  height: 100%;
}

.cds--contained-list-item__content{
  display: flex;
  align-items: center;
}